@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "style";

.logo {
  color: $white;
  font-family: 'Raleway', serif;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.alert-success {
  background-color: $light-green;
}