@import "../variables";
@import "admin_template";
@import "table";

.alert {
  position: absolute;
  z-index: 1031;
  top: 0;
  width: 100%;
}

.title, .add-button, .table {
  margin-bottom: $default-section-margin;
}

.button-list {
  margin-bottom: $default-section-margin;
  .button-element {
    display: inline-block;
  }
}

.table {
  tbody{
    tr:nth-child(2n + 1) {
      background: $table-child-bg-color;
    }
  }
}