@import "style";
@import "admin_template";
@import "table";

.alert {
  position: absolute;
  z-index: 1031;
  top: 0;
  width: 100%;
}

.header{
  .add-button {
    display: inline-block;
    float: right;
  }
  .title {
    display: inline-block;
  }
}

.form {
  width: 50%;
}


